.bg-primary { 
    background-color: #ff88ed !important; 
} 

.bg-secondary { 
    background-color: #8334be !important; 
} 

nav{ 
  font-weight: 700; 
} 
 
th{
    background-color: #fdcef6 !important; 
}